{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h1>Creation</h1>
    <div class="mt-10 max-w-xl mx-auto">
        {{ form_start(formAnimal) }}
            {{ form_row(formAnimal.nom, {'attr': {'placeholder': 'Name'}} )}}
            {{ form_row(formAnimal.type, {'attr': {'placeholder': 'Type'}} )}}
            {{ form_row(formAnimal.description, {'attr': {'placeholder': 'Description'}} )}}
            {{ form_row(formAnimal.photo, {'attr': {'placeholder': 'Photo'}} )}}
            <button type="Submit" class="inline-block w-full bg-indigo-500 hover:bg-indigo-600 text-white rounded shadow p-4">
                {% if editMode %}
                    Modify
                {% else %}
                    Create
                {% endif %}

            </button>
        {{ form_end(formAnimal) }}
    </div>

{% endblock %}
